body {
  background-color: rgb(0, 0, 0);
}
.body-list {
  position: relative;
  bottom: 160px;
}
.form-floating {
  position: absolute;
  top: 210px;
  left: 80px;
  background-color: black;
}
.form-control {
  width: 270px;
  height: 50px;
  border-radius: 20px;
  background-color: black;
}

.chartdiv {
  position: absolute;
  background-color: rgb(0, 0, 0);
  left: 100px;
  width: 900px;
  height: 600px;
  top: 120px;
  border: 0.5px solid white;
  border-radius: 20px;
}

.coinchartdes {
  position: absolute;
  background-color: rgb(0, 0, 0);
  left: -100px;
  width: 900px;
  height: 600px;
  top: 810px;
}
.imgcoininfo {
  position: relative;
  width: 50px;
  height: 50px;
  left: 300px;
  top: -790px;
}

.description-main {
  position: relative;
  width: 400px;
  height: 365px;

  top: 10px;
}

.chart-vis {
  position: relative;
  top: 130px;
  width: 1200px;
  left: 200px;
 
}

.loader {
  position: relative;
}
.buttonday {
  position: absolute;
}
.ifo-div {
  position: relative;
}
.curchangebtn {
  position: relative;
}
.per24hchange {
  position: relative;
  top: -18px;
  left: 160px;
  font-size: 15px;
}
.btn-ifo {
  position: relative;
top:80px;
  left: -100px;
}
.name-coin{
  position: relative;
 
  color: white;
  top: -720px;
  left: 390px;
}

@media only screen and (max-width: 1440px) {
  .form-floating {
    position: relative;
    top: 170px;
    left: 0px;
  }
  .per24hchange {
      position: relative;
      top: -18px;
      left: 80px;
      font-size: 12px;
  
  }
  .chart-vis {
    position: absolute;
    top: 160px;
    width: 900px;
    height: 300px;
    left: 180px;
  }
  .btn-ifo {
    position: relative;
    left: -255px;
    top: 100px;
  }
  .coinchartdes {
    position: absolute;

    left: 15px;
    width: 320px;
    height: 600px;
    top: 750px;
  }
  .imgcoininfo {
    position: relative;
    width: 50px;
    height: 50px;
    left: 170px;
    top: -720px;
  }
  .name-coin{
    position: relative;
   
    color: white;
   top: -650px;
    left: 260px;
  }
.loader{
  position: relative;
  left:-100px;
  top:-100px;
}
}




@media only screen and (max-width: 400px) {
  .form-floating {
    position: relative;
    top: 130px;
    left: 10px;
  }

  .coinchartdes {
    position: absolute;

    left: 15px;
    width: 320px;
    height: 600px;
    top: 450px;
  }

  .imgcoininfo {
    position: relative;
    width: 80px;
    height: 80px;
    left: 125px;
    top: -100px;
  }

  .description-main {
    position: relative;
    width: 300px;
    height: 365px;
    left: -330px;
    top: 10px;
  }
  .chart-vis {
    position: absolute;
    top: 120px;
    width: 350px;
    height: 300px;
    left: 05px;
  }

  .loader {
    position: relative;
    left: -600px;
    top: -200px;
  }
  .loadertable {
    position: relative;
    left: -600px;
    top: -100px;
  }
  .curchangebtn {
    position: relative;
    left: -220px;
    top: 20px;
  }

  .per24hchange {
    position: relative;
    top: -18px;
    left: 100px;
    font-size: 12px;
  }
  .btn-ifo {
    position: relative;
    left: -250px;
    top: 30px;
  }
   .name-coin{
    position: relative;
   
    color: white;
   top: -270px;
    left: 145px;
  }
 
}

