@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");

.headerdiv{
position: relative;
 top:-40px;
 left:-15px;
 background-color: rgb(255, 255, 255);


}
.coinlist{
  position: relative;
  top: -100px; 
}

.headerdiv-1{
  position: fixed;
  top:-40px;
  left:-15px;
  background-color: rgb(255, 255, 255);
  height: 105px;
}